<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRB - Where Safety Belongs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <!-- SRB Title -->
        <h1>SRB</h1>
        <h3>Where Safety Belongs</h3>

        <!-- Option Buttons -->
        <div class="option-container">
            <a href="/user_options" class="user-btn">User</a>
            <a href="/admin_login_page" class="admin-btn">Admin</a>
        </div>
    </div>
</body>
</html>
