<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Options - SRB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>User Portal</h1>
        <div class="option-container">
            <a href="/login" class="user-btn">Login</a>
            <a href="/signup" class="user-btn">Signup</a>
            <a href="/" class="exit-btn">Back</a>
        </div>
    </div>
</body>
</html>
